.btn-link {
    display: inline;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    color:blue;
    text-decoration: underline;
    margin-left: 2em;
    margin-top: 3em;
}
  